.qodo
__pycache__
myenv
.env
.venv
chat.db
forwarded_messages.db
__pycache__/*
.env
.env
.env
messages_by_user.json


messages_last_24h.json
__pycache__/*
avg_time.py
cleanup.py
dump.py
db/*
app.py
.DS_Store
